
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container {
    display: flex; /* Make this div a flex container */
    align-items: center; /* Vertically align items to the center */
    height: 100%; /* Optional: Set a fixed height for the container */
    flex-direction: column;
    /* //overflow: scroll; */
}

.reactflow {
    width: 100%;
    height: 90%;
    /* height: 400px;
    overflow-y: scroll; */
}

.progressbar {
    width: 90%;
    height: 10%;
}
  